
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


body {
    font-family: calibri;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


/*------aca va el slider de la pag principal-----*/

.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding-top: .5rem;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slider 16s infinite;
    animation-direction: alternate; 
}

.slider li {
    list-style: none;
    width: 100%;
}

.slider img {
    width: 100%;
}


/*aca terminar el slider*/


header {
    background-color: #2d7ef8;
    min-height: 7.5rem;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    width: 100%;
    padding-bottom: 1rem;
    font-weight: bold;
}

.navbar.navbar-expand-lg.bg-body-tertiary{
    background-color: #2d7ef8 !important;
}

.navbar-collapse{
    justify-content: end;
}

.nav-link{
    padding-top: 3rem;
    font-size: 25px;
    color: black;
    font-weight: bold;
    padding-bottom: 0;
}

.container-fluid{
    padding-bottom: 0;
}
.nav-link:hover{
    color: white;
}

.navbar-brand{
    font-size: 35px;
    text-decoration: underline;
    padding-top: 3rem;
    font-weight: bold;
    min-height: 7.5rem;
    font-family: 'Open Sans', sans-serif;

}

.navbar{
    --bs-navbar-padding-y: 0;
}

h1, h2, h3, h4{
    font-weight: bold;
}

h1{
    color: black;
    padding-top: 0.5rem;
    text-decoration: underline;
}


.descriptionvideo{
    padding-left: .5rem;
    margin-top: 8rem;
    text-align: center;
    color: #2d7ef8;

}

h5 {
    font-size: 1em;
}

h6 {
    display: inline-block;
    padding-bottom: 0.625rem;

}

.infovideo {
    display: flex;
    padding: 0.5rem;

}

a {
    text-decoration: none;
}


/* aca la galeria de imagenes de todas las paginas----*/

.linea{
    background-color: #550b51;
    height: 5px;
    width: 100%;
    display: box;
}

.galeria{
    display: grid;
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    
}

.galeria img{
    width: 100%;
    vertical-align: top;
    height: 300%;
    object-fit: cover;
}

.row{
    background-color: #eae7e7;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}
/* grilla para seccion de fotos de produccios por tipo*/

.grid{ 
    display: grid;  
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
    grid-template-areas: 
    "title1 title2 title3 title4"
    "img2 img1 img3 img4"
    "img5 img6 img7 img8"
    "img9 img10 img11 img12"
    "img13 img14 img15 img16"
    "img17 img18 img19 img20"
    "description description description description";
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-items: center;
}
.grid .grid__title1{
    grid-area: title1;
}
.grid .grid__title2{
    grid-area: title2;
}    
.grid .grid__title3{
    grid-area: title3;
}    
.grid .grid__title4{
    grid-area: title4;
}

.grid .grid__description{
    grid-area: description;
}

.grid .grid__img1{
    grid-area: img1;
    width: 280px;
    height: 426px;
}

.grid .grid__img2{
    grid-area: img2;
    width: 280px;
    height: 426px;
}
.grid .grid__img3{
    grid-area: img3;
    width: 280px;
    height: 426px;
}
.grid .grid__img4{
    grid-area: img4;
    width: 280px;
    height: 426px;
}

.grid .grid__img5{
    grid-area: img5;
    width: 280px;
    height: 426px;
}

.grid2{ 
    display: grid;  
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
    grid-template-areas: 
    "imgg1 imgg2"
    "imgg3 imgg4"
    "imgg6 imgg5"
    "imgg7 imgg8";
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-items: center;
}


.grid2 .grid__imgg1{
    grid-area: imgg1;
    width: 720px;
    height: 540px;
}

.grid2 .grid__imgg2{
    grid-area: imgg2;
    width: 720px;
    height: 540px;
}
.grid2 .grid__imgg3{
    grid-area: imgg3;
    width: 720px;
    height: 540px;
}
.grid2 .grid__imgg4{
    grid-area: imgg4;
    width: 720px;
    height: 540px;
}

.grid2 .grid__imgg5{
    grid-area: imgg5;
    width: 720px;
    height: 540px;
}

.grid2 .grid__imgg6{
    grid-area: imgg6;
    width: 720px;
    height: 540px;
}

.grid2 .grid__imgg7{
    grid-area: imgg7;
    width: 720px;
    height: 540px;
}

.grid2 .grid__imgg8{
    grid-area: imgg8;
    width: 720px;
    height: 540px;
}
/* 320px ancho max por columna y foto para que entren las 4 y queden prolijas*/


/*--------------- aca estan los iconos y mapas del footer-----*/
#face {
    text-align: left;
    padding-left: 5%;
}


#insta {
    text-align: left;
    padding-left: 7%;
    right: 30rem;
}

.icons {
    display: flex;
    align-items: center;
    width: 25%;
}

.mapa {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0%;

}
.information{
    display: flex;
    line-height: 1;
    align-items: center;
    width: 100%;
}

.information ul{
    list-style: none;
    padding: 0;

}

.information li{
    display: flex;
    padding-top: 5px;
}

.information h5{
    margin: 0;
}


form{
    border: black;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*
.col {
    width: 75vw
    max-width: 1240px;
    min-width: 320px;
    margin: auto;   
}
*/

/*--------------------------aca terminan los iconos del footer-----*/






footer {
    background-color: lightgray;
    min-height: 1.563rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 0.188rem solid gray;
    line-height: 0.625rem;
    padding-left: 30px;

}
.container-boton{
    background-color: #2e6329;
    border: 0.063rem solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 1.25rem;
    right: 1.563rem;
    padding: 1.563rem;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;

}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.boton{
    width: 5rem;
    transition: ease 1s;
}

@keyframes slider {
        0% {margin-left: 0;}
        20% {margin-left: 0;}

        25% {margin-left: -100%;}
        45% {margin-left: -100%;}  
        
        50% {margin-left: -200%;}
        70% {margin-left: -200%;}

        75% {margin-left: -300%;}
        95% {margin-left: -300%;}
    }

@keyframes efecto{
0%{
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
}
100%{
    box-shadow: 0 0 0 1.563rem rgba(0, 0, 0, 0);
} 
}

/* mq para mobile */

@media screen and (max-width: 480px) {
    
    .navbar.navbar-expand-lg.bg-body-tertiary{
        background-color: #2d7ef8 !important;
    }
    
    .navbar-collapse{
        justify-content: end;
    }
    
    .nav-link{
        padding-top: 3rem;
        font-size: 25px;
        color: black;
        font-weight: bold;
        padding-bottom: 0;
    }
    
    .container-fluid{
        padding-bottom: 0;
    }
    .nav-link:hover{
        color: white;
    }
    
    .navbar-brand{
        font-size: 35px;
        text-decoration: underline;
        padding-top: 3rem;
        font-weight: bold;
        min-height: 7.5rem;
        font-family: 'Open Sans', sans-serif;
    
    }
    
    .navbar{
        --bs-navbar-padding-y: 0;
    }
    
    /* footer */

    #face {
        text-align: left;
        padding-left: 5%;
    }
    
    
    #insta {
        text-align: left;
        padding-left: 7%;
        right: 30rem;
    }
    
    .icons {
        display: flex;
        align-items: center;
        width: 25%;
    }
    footer {
        background-color: lightgray;
        min-height: 1.563rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-top: 0.188rem solid gray;
        line-height: 0.625rem;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
    
    }
    .container-boton{
        background-color: #2e6329;
        border: 0.063rem solid #fff;
        position: fixed;
        z-index: 999;
        border-radius: 50%;
        bottom: 1.25rem;
        right: 1.563rem;
        padding: 1.563rem;
        transition: ease 0.3s;
        animation: efecto 1.2s infinite;
    
    }
    
    .container-boton:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }
    
    .boton{
        width: 3rem;
        transition: ease 1s;
    }

    /* main nuestros productos */
    .grid{ 
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content min-content;
        grid-template-areas: 
        "title1"
        "img2"
        "title2"
        "img1"
        "title3"
        "img3"
        "title4"
        "img4"
        "description";
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        justify-items: center;
    }
    .grid .grid__title1{
        grid-area: title1;
    }
    .grid .grid__title2{
        grid-area: title2;
    }    
    .grid .grid__title3{
        grid-area: title3;
    }    
    .grid .grid__title4{
        grid-area: title4;
    }
    
    .grid .grid__description{
        grid-area: description;
    }
    
    .grid .grid__img1{
        grid-area: img1;
        width: 280px;
        height: 426px;
    }
    
    .grid .grid__img2{
        grid-area: img2;
        width: 280px;
        height: 426px;
    }
    .grid .grid__img3{
        grid-area: img3;
        width: 280px;
        height: 426px;
    }
    .grid .grid__img4{
        grid-area: img4;
        width: 280px;
        height: 426px;
    }
    
    .grid .grid__img5{
        grid-area: img5;
        width: 280px;
        height: 426px;
    }
    
    /* grid2 nuestras instalaciones */

    
    .grid2{ 
    display: grid;  
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content;
    grid-template-areas: 
    "imgg1"
    "imgg2"
    "imgg3"
    "imgg4"
    "imgg6"
    "imgg5"
    "imgg7"
    "imgg8";
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-items: center;
}


.grid2 .grid__imgg1{
    grid-area: imgg1;
    width: 280px;
    height: 426px;
}

.grid2 .grid__imgg2{
    grid-area: imgg2;
    width: 280px;
    height: 426px;
}

.grid2 .grid__imgg3{
    grid-area: imgg3;
    width: 280px;
    height: 426px;
}

.grid2 .grid__imgg4{
    grid-area: imgg4;
    width: 280px;
    height: 426px;
}

.grid2 .grid__imgg5{
    grid-area: imgg5;
    width: 280px;
    height: 426px;
}

.grid2 .grid__imgg6{
    grid-area: imgg6;
    width: 280px;
    height: 426px;
}

.grid2 .grid__imgg7{
    grid-area: imgg7;
    width: 280px;
    height: 426px;
}

.grid2 .grid__imgg8{
    grid-area: imgg8;
    width: 280px;
    height: 426px;
}

.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding-top: .5rem;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slider 16s infinite;
    animation-direction: alternate; 
}

.slider li {
    list-style: none;
    width: 100%;
}

.slider img {
    width: 100%;
}

.descriptionvideo{
    padding-left: .5rem;
    margin-top: 1rem;
    text-align: center;
    color: #2d7ef8;
    font-size: medium;
}

.map-responsive {
    width: 320px;
    height: 420px;
}
.form {
    align-items: center;
}
}

